/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */

@font-face {
  font-family: "Manrope-Bold";
  src: url(../fonts/manrope-bold.woff2);
  src: url(../fonts/manrope-bold.woff2) format("woff2"),
    url(../fonts/manrope-bold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Manrope-Medium";
  src: url(../fonts/manrope-medium.woff2);
  src: url(../fonts/manrope-medium.woff2) format("woff2"),
    url(../fonts/manrope-medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

/* Texts */
$title-text: 1.5rem/1.5 "Manrope-Bold", --apple-system, sans-serif;
$hero-text: 1.5rem/1.5 "Manrope-Medium", --apple-system, sans-serif;
$p-text: 1.25rem/1.6 "Manrope-Medium", --apple-system, sans-serif;
$big-text: 2.75rem/1.33 "Manrope-Bold", --apple-system, sans-serif;
$event-date: 1.25rem/1.6 "Manrope-Medium", --apple-system, sans-serif;

$title-text-mobile: 1.25rem/1.5 "Manrope-Bold", --apple-system, sans-serif;
$hero-text-mobile: 1.25rem/1.5 "Manrope-Medium", --apple-system, sans-serif;
$p-text-mobile: 1.1rem/1.6 "Manrope-Medium", --apple-system, sans-serif;

/* Colors */

$primary-color: #085147;
$text-color: #fff;
$light-color: #ffebe6;

img,
svg {
  vertical-align: middle;
}

/* Main Styles */

:root {
  font-size: 100%;
}

body {
  background: $primary-color;
  font-size: 100%;
  font-family: $p-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $light-color;
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    rgba($light-color, 0) 95%,
    rgba($light-color, 1) 95%
  );
}

h1,
h2 {
  color: $light-color;
}

p {
  color: $text-color;
  font: $p-text;
}

.logo {
  margin-left: 10.97%;
  margin-top: 130px;
}

.container {
  width: 55%;
  margin: 0 auto;
}

.big-text {
  margin: 130px auto 40px auto;
  font: $big-text;
  color: $light-color;
  h1 {
    font-weight: normal;
  }
}

.hello {
  margin: 60px auto 40px auto;
  p {
    font: $hero-text;
    font-weight: normal;
  }
}

.what-we-do,
.how-to-join {
  margin-bottom: 40px;
  h2 {
    font: $title-text;
    color: #fff5ea;
    margin-bottom: 12px;
  }
}

#events {
  background-color: $light-color;
  color: $primary-color;
  padding: 170px 0 162px 0;
  p,
  h1,
  h2,
  h3,
  a {
    color: $primary-color;
  }
  h1 {
    font: $big-text;
  }
  .event-container {
    display: grid;
    row-gap: 34px;
    gap: 20px;
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
    margin-top: 29px;
    .home-event {
      display: grid;
      column-gap: 42px;
      grid-template-columns: 235px auto;
      grid-template-rows: auto;
      grid-column-start: auto;
      grid-row-start: span;
      margin-left: -275px;
      .home-event-date {
        margin-top: 23px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        span {
          font: $event-date;
          letter-spacing: 0.05em;
          text-align: right;
          margin-top: 3px;
        }
      }
      .home-event-info {
        border-top: 1px solid rgba($primary-color, 0.26);
        width: 100%;
        h2 {
          margin-top: 23px;
          font: $title-text;
        }
        p {
          margin-top: 12px;
        }
      }
    }
  }
}

a.twitter {
  display: block;
  text-decoration: none;
  background: none;
  float: left;
}

a.kommunity {
  display: block;
  text-decoration: none;
  background: none;
  float: left;
  margin-left: 24px;
}

.links {
  clear: both;
  margin-bottom: 170px;
}

#register-form {
  padding: 140px 0 200px 0;
  h1 {
    font: $big-text;
    margin-bottom: 23px;
  }
  form {
    position: relative;
    margin-top: 17px;
    input[type="email"] {
      width: 100%;
      appearance: none;
      background: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $light-color;
      height: 50px;
      color: $text-color;
      font: $p-text;
      float: left;
    }
    input[type="submit"] {
      position: absolute;
      width: 42px;
      height: 42px;
      right: 0;
      top: 4px;
      appearance: none;
      background: url(../img/submit.svg) no-repeat 50% 50%;
      clip: auto;
      border: none;
      float: right;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 32rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    margin: 130px auto 100px auto;
    width: 227px;
    img {
      width: 100%;
    }
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }

  p {
    font: $p-text-mobile;
  }

  .hello {
    p {
      font: $hero-text-mobile;
    }
  }

  .what-we-do,
  .how-to-join {
    h2 {
      font: $title-text-mobile;
    }
  }
}
