@font-face {
  font-family: 'Garnett';
  src: url('/fonts/garnett_regular-webfont.woff2') format('woff2'),
    url('/fonts/garnett_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('/fonts/garnett_medium-webfont.woff2') format('woff2'),
    url('/fonts/garnett_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
