@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope-medium.woff2') format('woff2'),
    url('/fonts/manrope-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope-bold.woff2') format('woff2'),
    url('/fonts/manrope-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
