.header {
  z-index: 2;
  position: relative;
  background-color: var(--hero-background);

  .container {
    @media (--desktop) {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    color: var(--hero-background);
    position: relative;
    display: inline-block;
    text-decoration: none;
    @media (--desktop) {
      display: flex;
      align-items: center;
    }
  }
}
